project:
  type: website
  output-dir: docs

website:
  title: "ChineseBlog"
  site-url: https://kiwidamien.github.io/ChineseBlog
  navbar:
    right:
      - about.qmd
      - icon: github
        href: https://github.com/
      - icon: twitter
        href: https://twitter.com
format:
  html:
    theme: yeti
    css: styles.css



